# Firebase Web Yapılandırma Bilgileri
# Firebase Console > Project Settings > General > Your apps > Web App alanından alınız.

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Zorunlu Yönetici UID Güvenlik Kontrolü
# Firebase Console > Authentication > Users sekmesinden admin kullanıcınızın UID değerini buraya yapıştırın.
# Sadece bu UID ile giriş yapan kullanıcı yönetim paneline erişebilir ve düzenleme yapabilir.
VITE_FIREBASE_ADMIN_UID=
